.carusel {
  margin-top: -70px;
}
.carusel-img {
  width: 100%;
  height: max-content;
  object-fit: cover;
}
.carousel-caption {
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  padding-left: 15px;
  padding-right: 15px;
}
.carousel-caption-title {
  font-size: 2rem;
  margin-bottom: 10px;
}
.carousel-caption-link {
  color: #fff;
  text-transform: lowercase;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
}
.carousel-caption-link:hover {
  text-decoration: underline;
}
.carousel-caption-link::after {
  content: '/';
  position: absolute;
  margin-left: 10px;;
}
.carousel-caption-link:last-child::after {
  display: none;
}
