<div class="row" class="carusel">
  <carousel [interval]="interval" [showIndicators]="showIndicator">
    <slide class="carusel-item">
      <img class="carusel-img" src="../../../assets/img/carusel/section.jpg" alt="" [style.height]="innerHeight">
      <div class="carousel-caption">
        <h3 class="carousel-caption-title">Ворота секционные</h3>
        <a href="/catalog/section/torsional" class="carousel-caption-link">гаражные</a>
        <a href="/catalog/section/industrial" class="carousel-caption-link">промышленые</a>
        <a href="/catalog/section/panorama" class="carousel-caption-link">панорамные</a>
      </div>
    </slide>
    <slide class="carusel-item">
      <img class="carusel-img" src="../../../assets/img/carusel/street.jpg" alt="" [style.height]="innerHeight">
      <div class="carousel-caption">
        <h3 class="carousel-caption-title">Уличные ворота и калитки</h3>
        <a href="/catalog/street/recoiling" class="carousel-caption-link">откатные</a>
        <a href="/catalog/street/swinging" class="carousel-caption-link">роспашные</a>
        <a href="/catalog/street/wickets" class="carousel-caption-link">калитки</a>
      </div>
    </slide>
    <slide class="carusel-item">
      <img class="carusel-img" src="../../../assets/img/carusel/rollet.jpg" alt="" [style.height]="innerHeight">
      <div class="carousel-caption">
        <h3 class="carousel-caption-title">Рольставни и Рольворота</h3>
        <a href="/catalog/rollet/aluminium" class="carousel-caption-link">алюминиевые</a>
        <a href="/catalog/rollet/steel" class="carousel-caption-link">стальные</a>
      </div>
    </slide>
  </carousel>
</div>
