<div class="container">
  <h2 class="title">Рампы, столы подьемные</h2>
  <section class="catalog row justify-content-md-center">
    <div class="catalog__items col-xl-4 col-md-6 col-sm-12" *ngFor="let item of catalogRampEndTable" (click)="onSelect(item)">
      <div class="catalog__item">
        <h3 class="catalog__item-title">{{ item.title }}</h3>
        <img class="catalog__item-img" src="{{ item.src }}" alt="{{ item.title }}" title="{{ item.title }}">
      </div>
    </div>
  </section>
</div>
