<!-- Product main start -->
<div class="product">
  <h2 class="product__title title__after">Тамбур перегрузочный легкой серии DHOUSL</h2>
  <p class="product__description">
    Перегрузочный тамбур предназначен для установки уравнительной платформы и герметизатора. Благодаря тому, что тамбуры вынесены за пределы здания,
    их использование позволяет сохранять микроклимат и экономить пространство складских помещений, а также защищать груз от климатических факторов.
    Они незаменимы в местах, где необходимо максимально задействовать складские площади и предъявляются повышенные требования к температурному режиму,
    а также там, где невозможно осуществить парковку грузовых автомобилей перпендикулярно зданию.
  </p>
  <img class="product__img" src="../../../../assets/img/catalog/transshipment/posters/poster-tambour-standart.jpg" alt="Тамбур DHOUSL">
</div>
<!-- Product main end -->
<!-- Design start -->
<div class="design">
  <h3 class="design__title title__after">Дизайн</h3>
  <!-- Color start -->
  <h4 class="design__caption">Стандартный цвет каркаса и фермы</h4>
  <div class="design__color-wood-panel row justify-content-center">
    <div class="design__color-wood-panel__item" *ngFor="let color of colors">
      <img class="design__color-wood-panel__item-img" src="{{ color.img }}" alt="{{ color.title }}">
      <div>{{ color.title }}</div>
    </div>
  </div>
  <!-- Color end -->
  <!-- Color wall start -->
  <h4 class="design__caption">Стандартный цвет стен</h4>
  <div class="design__color-wood-panel row justify-content-center">
    <div class="design__color-wood-panel__item" *ngFor="let colorWall of colorsWall">
      <img class="design__color-wood-panel__item-img" src="{{ colorWall.img }}" alt="{{ colorWall.title }}">
      <div>{{ colorWall.title }}</div>
    </div>
  </div>
  <!-- Color wall end -->
</div>
<!-- Design end -->
<!-- Acsessuar vorot start -->
<div class="acsessuars">
  <h3 class="acsessuars__title title__after">Аксессуары</h3>
  <div class="acsessuars__item row" *ngFor="let acsessuar of acsessuars">
    <img class="acsessuars__item-img col-xl-3 col-md-4 col-sm-6 col-9" src="{{ acsessuar.img }}" alt="{{ acsessuar.title }}">
    <p class="acsessuars__item-description col-xl-9 col-md-8">
      <b>{{ acsessuar.title }}</b>
      <br>{{ acsessuar.description }}</p>
  </div>
</div>
<!-- Acsessuar vorot end -->
<!-- Characteristics start -->
<div class="characteristics">
  <h3 class="characteristics__title title__after">Таблица размеров</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Параметр</th>
        <th>Показатель</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of size">
        <td>{{ item.parametr }}</td>
        <td>{{ item.index }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Characteristics end -->
<!-- Constructuin start -->
<div class="constuction">
  <h3 class="constuction__title title__after">Конструкция</h3>
  <img class="constuction__img" src="../../../../assets/img/catalog//transshipment/posters/construction-tambour-light.jpg" alt="Конструкция"
    title="Конструкция">
  <div class="constuction__description">
    <p *ngFor="let construction of constructions; let i = index">{{ i + 1 }}. {{ construction.name }}</p>
  </div>
</div>
<!-- Constructuin end -->
