<div class="product">
  <h2 class="product__title title__after">С пружинами растяжения стандартных размеров</h2>
  <p class="product__description">
    Секционные ворота стандартных размеров обладают конструктивными особенностями серии RSD01.
    Ворота изготавливаются в 10 комплектах, которые всегда есть в наличии на склае производителя.
    Балансировочный механизм полотна рассчитан на 25 000 рабочих циклов.
    Комплекты предназначены для самостоятельной установки, просты и удобны как в монтаже, так и в эксплуатации.
  </p>
  <img class="product__img" src="../../../../assets/img/catalog/section/poster/poster-standart.jpg" alt="С пружинами растяжения стандартных размеров" title="С пружинами растяжения стандартных размеров">
</div>
<div class="characteristics">
  <h3 class="characteristics__title title__after">Характеристики</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Параметр</th>
        <th>Показатель</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of size">
        <td>{{ item.parametr }}</td>
        <td>{{ item.index }}</td>
      </tr>
    </tbody>
    </table>
</div>
<div class="constuction">
  <h3 class="constuction__title title__after">Конструкция</h3>
  <img class="constuction__img" src="../../../../assets/img/catalog/section/poster/construction-standart.jpg" alt="Конструкция" title="Конструкция">
  <div class="constuction__description">
    <p>1. Стальной ригель с установленным верхним контурным многокамерным уплотнителем</p>
    <p>2. Контурные боковые многокамерные уплотнители</p>
    <p>3. Нижний встраиваемый стальной профиль с терморазделением и нижний уплотнитель</p>
    <p>4. Верхний угловой кронштейн регулируемый</p>
    <p>5. Боковая опора с регулируемым роликодержателем</p>
    <p>6. Нижний угловой кронштейн с регулируемым роликодержателем</p>
    <p>7. Внутреняя петля</p>
    <p>8. Вертикальная направляющая в сборе</p>
    <p>9. Горизонтальная направляющая в сборе</p>
    <p>10. Дистанционный С-профиль</p>
    <p>11. Сэндвич-панель</p>
    <p>12. Кронштейн с двойным шкивом</p>
    <p>13. Г-образный кронштейн крепления к потолку, установленный на кронштейн произвольной фиксации</p>
    <p>14. Ручка подъемная</p>
    <p>15. Задвижка (опция)</p>
    <p>16. Пружины растяжения</p>
  </div>
</div>
<div class="design">
  <h3 class="design__title title__after">Дизайн</h3>
  <h4 class="design__caption">Виды Панелей</h4>
  <div class="design__view-panel">
    <div class="design__view-panel__item">
      <img class="design__view-panel__item-img" src="../../../../assets/img/catalog/section/complectation/view-gofr.jpg" alt="Доска">
      <div>Доска</div>
    </div>
  </div>
  <h4 class="design__caption">Типы поверхностей</h4>
  <div class="design__type-panel">
    <div class="design__type-panel__item">
      <img class="design__type-panel__item-img" src="../../../../assets/img/catalog/section/complectation/type-wood.jpg" alt="Под дерево">
      <div>Под дерево</div>
    </div>
  </div>
  <h4 class="design__caption">Цвет панелей</h4>
  <div class="design__color-wood-panel">
    <div class="design__color-wood-panel__item">
      <img class="design__color-wood-panel__item-img" src="../../../../assets/img/catalog/section/complectation/color-dark-oak.jpg" alt="Под дерево">
      <div>Темный дуб</div>
    </div>
    <div class="design__color-wood-panel__item">
      <img class="design__color-wood-panel__item-img" src="../../../../assets/img/catalog/section/complectation/color-golden-oak.jpg" alt="Под дерево">
      <div>Золтой дуб</div>
    </div>
  </div>
  <div class="design__color-ral-panel">
    <div class="design__color-ral-panel__item">
      <div class="design__color-ral-panel__item-img white"></div>
      <div>RAL 9003 Белый</div>
    </div>
    <div class="design__color-ral-panel__item">
      <div class="design__color-ral-panel__item-img brown"></div>
      <div>RAL 8014 Коричневый</div>
    </div>
  </div>
</div>
<div class="acsessuars">
  <h3 class="acsessuars__title title__after">Аксессуары</h3>
  <div class="acsessuars__item">
    <img class="acsessuars__item-img" src="../../../../assets/img/catalog/section/complectation/acsessuar-valve.jpg" alt="задвижка">
    <p class="acsessuars__item-description">Механическая задвижка позволяет запирать ворота изнутри помещения. Отличается простотой и надежностью.</p>
  </div>
  <div class="acsessuars__item">
    <img class="acsessuars__item-img" src="../../../../assets/img/catalog/section/complectation/acsessuar-lock.jpg" alt="замок">
    <p class="acsessuars__item-description">	Механический замок позволяет блокировать полотно ворот в закрытом положении как изнутри помещения, так и со стороны улицы.</p>
  </div>
</div>
