<!-- Product main start -->
<div class="product">
  <h2 class="product__title title__after">Герметизатор с жесткой рамой серии DSHRD</h2>
  <p class="product__description">
    Герметизаторы проема с жесткой рамой серии DSHRD функционально рассчитаны на большой грузопоток.
    Рама изготавливается из сэндвич-панелей, окантованных алюминиевым профилем. Фронтальная прижимная планка выполнена из алюминиевого профиля,
    окрашенного порошковым способом. Материал фронтальных листов достаточно эластичный, обладает высокой износостойкостью и сопротивлением на разрыв.
    При проведении погрузочно-разгрузочных работ кузов автомобиля частично въезжает внутрь герметизатора. Верхний и боковые вертикальные листы облегают кузов,
    обеспечивая герметизацию пространства между фурой и зданием. При использовании этого вида герметизатора
    на площадку перед доком рекомендуется устанавливать направляющие для колес или металлические отбойники.
    Установка герметизатора осуществляется накладным способом.
  </p>
  <img class="product__img" src="../../../../assets/img/catalog/transshipment/posters/poster-hermetic-rigid-frame.jpg" alt="Герметизатор DSHRD">
</div>
<!-- Product main end -->
<!-- Acsessuar vorot start -->
<div class="acsessuars">
  <h3 class="acsessuars__title title__after">Аксессуары</h3>
  <div class="acsessuars__item row" *ngFor="let acsessuar of acsessuars">
    <img class="acsessuars__item-img col-xl-3 col-md-4 col-sm-6 col-9" src="{{ acsessuar.img }}" alt="{{ acsessuar.title }}">
    <p class="acsessuars__item-description col-xl-9 col-md-8">
      <b>{{ acsessuar.title }}</b>
      <br>{{ acsessuar.description }}</p>
  </div>
</div>
<!-- Acsessuar vorot end -->
<!-- Characteristics start -->
<div class="characteristics">
  <h3 class="characteristics__title title__after">Таблица размеров</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Параметр</th>
        <th>Показатель</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of size">
        <td>{{ item.parametr }}</td>
        <td>{{ item.index }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Characteristics end -->
<!-- Constructuin start -->
<div class="constuction">
  <h3 class="constuction__title title__after">Конструкция</h3>
  <img class="constuction__img" src="../../../../assets/img/catalog//transshipment/posters/construction-hermetic-rigid-frame.jpg" alt="Конструкция"
    title="Конструкция">
  <div class="constuction__description">
    <p *ngFor="let construction of constructions; let i = index">{{ i + 1 }}. {{ construction.name }}</p>
  </div>
</div>
<!-- Constructuin end -->
